{% extends "base.html" %}

{% block titulo %} Bienvenido al Hotel Estrella {% endblock %}

{% block contenido %} 

<div class="container mt-3">
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-5 bg-primary border rounded-3 text-light">
        <h2>Bienvenido al Hotel Estrella</h2>
        <p>Descubre una experiencia única en hospitalidad y confort. Reserva tu estancia con nosotros y disfruta de habitaciones elegantes, servicios de calidad y una ubicación inigualable.</p>
        <a href="#" class="btn btn-light">Reservar ahora</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}