<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    <div class="mb-3">
      <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}:</label>
      <input type="{{ campo.field.widget.input_type }}"
        class="form-control" name="{{ campo.name }}" aria-describedby="helpId" placeholder="{{ campo.label }}"
        value="{{ campo.value|default:'' }}">
      <div class="col-12 help-text">{{ campo.errors }}</div>
    </div>
  {% endfor %}
  <input class="btn btn-success" type="submit" value="Enviar información">
  <a class="btn btn-secondary" href="{% url 'inicio' %}" role="button">Cancelar</a>
</form>